@import "../variables";
@import "../mixins";

.columns__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.4rem;
  height: calc(100dvh - $navbar-lg-height);
  width: 100%;
}

.move_top {
  padding: 2.4rem;
  margin-top: $navbar-lg-height;
}
