@import "../variables";
@import "../mixins";

/* Mobile view */
.board__container {
  height: calc(100dvh - $navbar-sm-height);

  display: flex;
  justify-content: center;
  align-items: center;
  color: $medium-grey;
}

.board__emptyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 1.6rem;
  text-align: center;
  @include heading-L;
}

.board__lightBackground {
  background-color: $dark-background;
}

@media screen and (min-width: 600px) {
  .board__container {
    margin-left: $sidebar-md-width;
  }

  .board__emptyContent {
    gap: 2.4rem;
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  .board__container {
    height: calc(100dvh);
    margin-left: $sidebar-lg-width;
  }

  .board_columns__container {
    height: calc(100dvh);
    margin-left: $sidebar-lg-width;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .board__emptyContent {
    gap: 3.2rem;
  }
}
