@import "../variables";
@import "../mixins";

/* Mobile view */
.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;

  &__large {
    padding: 1rem 1.5rem;
  }

  &__small {
    padding: 0.5rem 1.5rem;
  }

  &__content {
    @include heading-M;
  }
}

.baseButton:disabled,
.baseButton:disabled:hover {
  background-color: $medium-grey; /* Use a different color or style for disabled state */
  color: $white; /* Adjust text color for better visibility */
  cursor: not-allowed; /* Change cursor style to indicate unclickable */
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  .baseButton {
    &__large {
      padding: 1.5rem;
    }
  }
}

// Types
.baseButton__primary {
  background-color: $primary-purple;
  color: white;
}

.baseButton__secondary {
  background-color: $light-grey-background;
  color: $primary-purple;
}

.baseButton__destructive {
  background-color: $primary-red;
  color: $white;
}

// Hover states
.baseButton__primary:hover {
  background-color: $hover-purple;
}

.baseButton__secondary:hover {
  background-color: $light-lines;
}

.baseButton__destructive:hover {
  background-color: $hover-red;
}
