@import "../variables";
@import "../mixins";

.column {
  &__parentContainer {
    display: inline-block;
    padding: 2.4rem;
    height: 100%;
    flex: 0 0 auto;
  }

  &__container {
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__header {
    color: $white;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: calc(
      100dvh - $navbar-lg-height - 2.4rem - 2.4rem - 2.4rem - 2.5rem
    );
    overflow-y: auto;

    // Scroll bar styling
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}
