@import "../variables";
@import "../mixins";

.input {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  background-color: $dark-grey;
  border: 1px solid rgba(130, 143, 163, 0.25);
  width: 100%;
  @include body-L;
  color: white;

  &__label {
    color: $white;
    @include body-M;
  }
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  @include body-L;
}
