@import "../variables";
@import "../mixins";

/* Mobile view */
.sidebar {
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 12%;
  left: 10%;
  transform: translateY(-50%, -50%);
  width: 70%;
  height: 50%;
  border-radius: 8px;
  padding: 0 0 2rem 0;
}

.sidebar__boardsList {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $primary-purple;
  }
}

.sidebarItem {
  @include heading-M;
  padding: 1.5rem 0 1.5rem 3.2rem;
  margin-right: 2rem;
  display: flex;
  gap: 1.2rem;

  & span {
    margin: 0;
  }

  :hover {
    cursor: pointer;
  }
}

.sidebarItem_selected {
  background-color: $primary-purple;
  border-radius: 0px 10rem 10rem 0;
  border-bottom: 1px solid #444;
}

.sidebarItem__addBoard {
  color: $primary-purple;
}

.sidebar__boardsTitle {
  @include body-M;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin: 2.4rem 3.4rem 1.7rem 3.4rem;
  color: $medium-grey;
  line-height: normal;
}

.sidebar__mobileHide {
  display: none;
}

/* Tablet view */
@media screen and (min-width: 600px) {
  .sidebar__mobileHide {
    // Not very important to add
    display: flex;
  }

  .sidebar {
    border-radius: 0px;
    // position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0, 0);
    height: calc(100vh - $navbar-sm-height);
    height: calc(100dvh - $navbar-sm-height);
    width: $sidebar-md-width;
  }

  .sidebar__boardsList {
    width: $sidebar-md-width;
    overflow: auto;
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  .sidebar {
    width: $sidebar-lg-width;
    height: calc(100vh - $navbar-lg-height);
    height: calc(100dvh - $navbar-lg-height);
    top: $navbar-lg-height;
  }

  .sidebar__boardsList {
    width: 100%;
  }

  .sidebarItem {
    margin-right: 0rem;
    display: flex;
    gap: 1.6rem;

    @include heading-M;
    padding: 1.5rem 0 1.5rem 3.2rem;
    margin-right: 2rem;

    & span {
      margin: 0;
    }
  }
}
