@import "../variables";
@import "../mixins";

.modal {
  width: 48rem;
  max-height: 90dvh;
  overflow-y: auto;
  border-radius: 0.6rem;
  background-color: $dark-grey;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $primary-purple;
  }

  &__header {
    color: $white;
    @include heading-L;
  }

  &__error {
    color: $primary-red;
    margin-top: 2.4rem;
  }
}

.modalForm {
  &__label {
    margin-bottom: 0.8rem;
    display: block;
  }
}

.subtasks {
  margin-top: 2.4rem;

  &__header {
    @include body-M;
  }

  &__columns {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__remove {
    &:hover {
      cursor: pointer;
    }
  }
}

.input__container_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.6rem;
}
