@import "../variables";
@import "../mixins";

.textarea__container {
  margin-top: 2.4rem;
}

.textarea__label {
  display: block;
  margin-bottom: 0.8rem;
  @include body-M;
  line-height: normal;
  color: $white;
}

.textarea__input {
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: $dark-grey;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  @include body-L;
  color: $white;
}
