@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../mixins";
@import "../variables";

html {
  font-size: 62.5%; /* 1rem = 10px (10/16 * 100%) */
}

body {
  @include body-M;
}

h1 {
  @include heading-XL;
  display: flex;
  align-items: center; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */
}

h3 {
  @include heading-M;
}

h4 {
  @include heading-S;
}

.dark__bg {
  background-color: $dark-background;
}

.light__bg {
  background-color: $white;
}

.grabbing {
  cursor: grabbing;
}

.ellipsis:hover {
  cursor: pointer;
}
