@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../mixins";

html {
  font-size: 62.5%; /* 1rem = 10px (10/16 * 100%) */
}

body {
  @include body-M;
}

h1 {
  @include heading-XL;
  display: flex;
  align-items: center; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */
}

h2 {
  @include heading-L;
  display: flex;
  align-items: center; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */
}

h3 {
  @include heading-M;
}

h4 {
  @include heading-S;
}
