$primary-red: #ea5555;
$hover-red: #ff9898;
$primary-purple: #635fc7;
$hover-purple: #a8a4ff;
$white: #ffffff;
$light-grey-background: #f4f7fd;
$light-lines: #e4ebfa;
$dark-lines: #3e3f4e;
$medium-grey: #828fa3;
$dark-grey: #2b2c37;
$dark-background: #20212c;
$black: #000112;

:export {
  PrimaryColor: $primary-purple;
  PrimaryHoverColor: $hover-purple;
  SecondaryColor: $light-grey-background;
  SecondaryHoverColor: $light-lines;
  DestructiveColor: $primary-red;
  DestructiveHoverColor: $hover-red;
  White: $white;
}
