@import "../variables";

.navbar {
  background-color: $dark-grey;
  color: white;
  padding: 0 32px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: $navbar-height;

  & button {
    margin-top: 29px;
  }
}

.navbarHeaders h1 {
  padding-left: 24px;
  height: 96px;
}
