@import "../variables";
@import "../mixins";

/* Mobile view */
.navbar {
  padding: 0 $p-sm;

  background-color: $dark-grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-md-height;

  &__boardName {
    // height: $navbar-sm-height;
    margin-left: $p-sm;

    padding-left: 0rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center; /* Verticaal centreren */
    justify-content: center; /* Horizontaal centreren */
  }

  &__desktopLogo {
    display: none;
  }

  &__mobileLogo {
    width: 2.4rem;
  }

  &__arrowDown {
    margin-left: 0.8rem;
    display: flex;
    align-items: center; /* Verticaal centreren */
    justify-content: center; /* Horizontaal centreren */
  }
}

.navbar__headers {
  display: flex;
  flex-direction: row;
}

.button {
  &__plusIcon {
    font-size: 3rem;
  }

  &__cta {
    display: none;
  }
}

.header__border {
  border: none;
}

/* Tablet view */
@media screen and (min-width: 600px) {
  .navbar {
    padding: 0 $p-md;

    &__boardName {
      padding-left: 2.4rem;
      margin-left: 8.1472rem;
    }

    &__desktopLogo {
      display: block;
    }

    &__mobileLogo {
      display: none;
    }
  }

  .button {
    &__plusIcon {
      font-size: 1rem;
    }

    &__cta {
      display: inline;
    }
  }

  .header__border {
    border-left: 1px solid $dark-lines;
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 $p-lg;
    height: $navbar-lg-height;
    position: fixed;
    width: 100%;

    &__boardName {
      height: $navbar-lg-height;
      @include heading-XL;
      padding-left: 2.4rem;
      margin-left: 11.3472rem;
    }

    &__desktopLogo {
      display: block;
      width: 15.2528rem;
    }

    &__mobileLogo {
      display: none;
    }

    &__arrowDown {
      display: none;
    }
  }

  .button {
    &__plusIcon {
      font-size: 1rem;
    }
  }
}
