@import "../variables";
@import "../mixins";

/* Mobile view */
.sidebar {
  display: none;
}

.sidebarItem {
  cursor: pointer;
}

/* Tablet view */
@media screen and (min-width: 600px) {
  .sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;

    height: calc(100vh - $navbar-sm-height);
    height: calc(100dvh - $navbar-sm-height);
    width: $sidebar-md-width;
  }

  .sidebar__boardsList {
    width: $sidebar-md-width;
    overflow: auto;
  }

  .sidebarItem {
    @include heading-M;
    padding: 1.5rem 0;
    margin-right: 2rem;

    & span {
      margin: 0 3.2rem;
    }
  }

  .sidebarItem_selected {
    background-color: $primary-purple;
    border-radius: 0px 10rem 10rem 0;
    border-bottom: 1px solid #444;
  }

  .sidebarItem__addBoard {
    color: $primary-purple;
  }

  .sidebar__boardsTitle {
    @include body-M;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    margin: 2.4rem 3.4rem 1.7rem 3.4rem;
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  .sidebar {
    width: $sidebar-lg-width;
    height: calc(100vh - $navbar-lg-height);
    height: calc(100dvh - $navbar-lg-height);
  }

  .sidebar__boardsList {
    width: $sidebar-lg-width;
  }

  .sidebarItem {
    margin-right: 2.4rem;
  }
}
