/* Headings */
@mixin heading-XL {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
}

@mixin heading-L {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

@mixin heading-M {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

@mixin heading-S {
  @include body-M;
  letter-spacing: 0.24rem;
}

/* Body */
@mixin body-L {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

@mixin body-M {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
