$primary-red: #ea5555;
$hover-red: #ff9898;

$primary-purple: #635fc7;
$hover-purple: #a8a4ff;

$light-lines: #e4ebfa;
$dark-lines: #3e3f4e;

$medium-grey: #828fa3;
$dark-grey: #2b2c37;

$light-grey-background: #f4f7fd;
$dark-background: #20212c;

$black: #000112;
$white: #ffffff;

$sidebar-width: 300px;
$navbar-height: 96px;
